{% extends 'base-with-login.html' %}
{% load js %}
{% load staticfiles %}

{% block extra_header %}

    {% comment %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    {% endcomment %}
    <script type="text/javascript" src="{% static "js/jquery.tokeninput.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/token-input.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/token-input-facebook.css" %}" type="text/css" />

{% endblock%}

{% block content %}


    <div class="container-fluid">

        <div class="page-header">
            <h1>Neuron Models </h1>
        </div>

          <div class="row" style="margin-bottom: 20px; margin-right: 20px">
               <form role="form" method="post" action="/djlems/neuron_model/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Create a new Neuron Model</button>
               </form>
          </div>

        <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;My Neuron Models</div>


            <table class="table table-striped" >
                <!--<form action='{% url 'rb_result_make_public' %}'method='post'>{% csrf_token %}-->
                     <thead>
                        <tr>
                             <th style="width:15%">Model Name</th>
                            <th style="width:40%">Description</th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for neuronModel in neuronModels_my %}
                                <tr>
                                   <td>{{ neuronModel.name }}</td>
                                    <td>{{ neuronModel.description }}
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <button class="btn btn-info" onclick="view_lems('{{neuronModel.name}}', '{{neuronModel.owner.username}}')" id="model_xml_{{neuronModel.id}}" >View LEMS</button>
                                        <input type="button" class="btn btn-info" onclick="deleteModel('{{ neuronModel.name }}')" value="Delete" />
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-info" onclick="location.href='/djlems/neuron_model/{{ neuronModel.name }}/'" value="Edit" />
                                    </td>
                                </tr>
                    {% endfor %}
                    </tbody>
            </table>

        </div> <!-- div panel -->


        <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Models Shared with Me</div>

            <table class="table table-striped" >
                <!--<form action='{% url 'rb_result_make_public' %}'method='post'>{% csrf_token %}-->
                     <thead>
                        <tr>
                            <th style="width:15%">Model Name</th>
                            <th style="width:40%">Description</th>
                            <th style="width:15%">Owner</th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for shared_neuronModel in neuronModels_shared %}
                            <tr>
                                <td>{{ shared_neuronModel.name }}</td>
                                <td>{{ shared_neuronModel.description }}</td>
                                <td>{{ shared_neuronModel.owner.username }}</td>
                                <td>
                                    <button class="btn btn-info" onclick="view_lems('{{shared_neuronModel.name}}', '{{shared_neuronModel.owner.username}}')" id="model_xml_{{shared_neuronModel.id}}" >View LEMS</button>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-info" onclick="location.href='/djlems/neuron_model/{{ shared_neuronModel.name }}:{{ shared_neuronModel.owner.username }}/'" value="Create Copy of Model" />
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>

        </div> <!-- div panel -->



        <div class="panel panel-primary">

            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Curated Models</div>


            <table class="table table-striped" id="publicNeurons">

                <!--<form action='{% url 'rb_result_make_public' %}'method='post'>{% csrf_token %}-->
                     <thead>
                        <tr>
                             <th style="width:15%">Model Name</th>
                            <th style="width:40%">Description</th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for neuronModel in neuronModels_curated %}
                                <tr>
                                   <td>{{ neuronModel.name }}</td>

                                    <td>
{{ neuronModel.description }}
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <button class="btn btn-info" onclick="view_lems('{{neuronModel.name}}', '{{neuronModel.owner.username}}')" id="model_xml_{{neuronModel.id}}" >View LEMS</button>
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-info" onclick="location.href='/djlems/neuron_model/{{ neuronModel.name }}:{{ neuronModel.owner.username }}/'" value="Create Copy of Model" />
                                    </td>
                                </tr>
                    {% endfor %}
                    </tbody>
            </table>

        </div> <!-- div panel -->



        <div class="page-header">
            <h1>Synapse Models </h1>
        </div>

          <div class="row" style="margin-bottom: 20px; margin-right: 20px">
               <form role="form" method="post" action="/djlems/syn_model/">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Create a new Synapse Model</button>
               </form>
          </div>
        <div class="panel panel-primary">


            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;My Synapse Models</div>


                <table class="table table-striped" >
                    <!--<form action='{% url 'rb_result_make_public' %}'method='post'>{% csrf_token %}-->
                         <thead>
                            <tr>
                                 <th style="width:15%">Model Name</th>
                                <th style="width:40%"> Description</th>
                                <th style="width:15%"></th>
                                <th style="width:15%"></th>
                                <th style="width:15%"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for neuronModel in synapseModels_my %}
                                    <tr>
                                       <td>{{ neuronModel.name }}</td>

                                        <td>{{ neuronModel.description }}</td>
                                        <td></td>
                                        <td>
                                            <button class="btn btn-info" onclick="view_lems('{{neuronModel.name}}', '{{neuronModel.owner.username}}')" id="model_xml_{{neuronModel.id}}" >View LEMS</button>
                                            <input type="button" class="btn btn-info" onclick="deleteModel('{{ neuronModel.name }}')" value="Delete" />
                                        </td>
                                        <td>
                                        <input type="button" class="btn btn-info" onclick="location.href='/djlems/syn_model/{{ neuronModel.name }}/'" value="Edit" />
                                        </td>
                                    </tr>
                        {% endfor %}
                        </tbody>
                </table>

            </div> <!-- div panel -->


        <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Models Shared with Me</div>


            <table class="table table-striped" >
                <!--<form action='{% url 'rb_result_make_public' %}'method='post'>{% csrf_token %}-->
                     <thead>
                        <tr>
                            <th style="width:15%">Model Name</th>
                            <th style="width:40%">Description</th>
                            <th style="width:15%">Owner</th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for shared_neuronModel in synapseModels_shared %}
                            <tr>
                                <td>{{ shared_neuronModel.name }}</td>
                                <td>{{ shared_neuronModel.description }}</td>
                                <td>{{ shared_neuronModel.owner.username }}</td>
                                <td>
                                    <button class="btn btn-info" onclick="view_lems('{{shared_neuronModel.name}}', '{{shared_neuronModel.owner.username}}')" id="model_xml_{{shared_neuronModel.id}}" >View LEMS</button>
                                </td>
                                <td>
                                    <input type="button" class="btn btn-info" onclick="location.href='/djlems/neuron_model/{{ shared_neuronModel.name }}:{{ shared_neuronModel.owner.username }}/'" value="Create Copy of Model" />
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </table>

        </div> <!-- div panel -->

        <div class="panel panel-primary">

            <div class="panel-heading"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Curated Models</div>


            <table class="table table-striped" id="publicSynapses" >

                <!--<form action='{% url 'rb_result_make_public' %}'method='post'>{% csrf_token %}-->
                     <thead>
                        <tr>
                             <th style="width:15%">Model Name</th>
                            <th style="width:40%">Description</th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                            <th style="width:15%"></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for neuronModel in synapseModels_curated %}
                                <tr>
                                   <td>{{ neuronModel.name }}</td>

                                    </td>
                                    <td>
{{ neuronModel.description }}
                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <button class="btn btn-info" onclick="view_lems('{{neuronModel.name}}', '{{neuronModel.owner.username}}')" id="model_xml_{{neuronModel.id}}" >View LEMS</button>
                                    </td>
                                    <td>
                                        <input type="button" class="btn btn-info" onclick="location.href='/djlems/syn_model/{{ neuronModel.name }}:{{ neuronModel.owner.username }}/'" value="Create Copy of Model" />
                                    </td>
                                </tr>
                    {% endfor %}
                    </tbody>
            </table>

        </div> <!-- div panel -->

</div>

<script>
    window.onload = function(){
        window.refresh_timer = null
        handle_btns()
    }

    function handle_btns(){
        $('.res_btn').hide()

        var refreshing = false
        $('.res_sel').each(function(){
            if($(this).val() == 2){
                $(this).next('button').show()
            }
            else if($(this).val() == 0 || $(this).val() == 1){
                refreshing = true
            }
        })

        if(refreshing == true && window.refreshing_timer == null) {
            console.log('starting auto reload')
            window.refreshing_timer = setInterval("location.reload()", 10000)
        }
        if(refreshing == false && window.refreshing_timer != null) {
            console.log('stopping auto reload')
            clearInterval(window.refreshing_timer)
            window.refreshing_timer = null
        }
    }

    function build_net(net_name){
        $('#' + net_name).text('Queued for build')
    }

    function sched_job(model_id){
        var sim_type = $('#run_job_select_' + model_id).val()
        $.get('/djlems/sched_job/?model_id=' + model_id + '&sim_type=' + sim_type,
                function(data) {
                    console.log(data)
                    if(data.indexOf('<error>') >= 0){
                        alert(data)
                    }
                    location.reload(true)
                }
        )
    }

    function show_results(model_id) {
        sim_id = $('#prev_jobs_select_' + model_id).find('option:selected').attr('job_id')
        console.log('Opening Results for job: ' + sim_id)

        window.open('/djlems/results_viewer_ind/?sim_id=finn' + sim_id, '_blank')
    }

    function view_lems(model_name, user_name) {
        var url = "{% url 'lems_ui.views.model_to_lems_xml' %}" +
                  "?model_name=" + model_name + "&user_name=" + user_name

        console.log("Trying to open url: " + url)
        window.open(url, '_blank')
    }

    function deleteModel(model_name) {
        if (confirm('Are you sure you want to delete this model?')) {
           if (confirm('Are you really sure?')) {
                location.href='/djlems/neuron_model_delete/' + model_name;
           }
        }
    }

</script>
{% endblock %}
