<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Number of Worms (not implemented)</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Worms Distribution in Plate (not implemented)</div> 
        </div>
    </div>
</div>
