<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Cube Side 1 Length</div>
            {{input id=side1Id class="simpleSlider" data-slider-id=side1Id type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=side1Length }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Cube Side 2 Length</div>
            {{input id=side2Id class="simpleSlider" data-slider-id=side2Id type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=side2Length }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Cube Depth</div>
            {{input id=depthId class="simpleSlider" data-slider-id=depthId type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=depth }}   
        </div>
    </div>
</div>