<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Cylinder Radius</div>
            {{input id=radiusId class="simpleSlider" data-slider-id=radiusId type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=radius }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Cylinder Depth</div>
            {{input id=lengthId class="simpleSlider" data-slider-id=lengthId type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=length }}   
        </div>
    </div>
</div>