<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Hexagon Side Length</div>
            {{input id=sideId class="simpleSlider" data-slider-id=sideId type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=sideLength }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Hexagon Depth</div>
            {{input id=depthId class="simpleSlider" data-slider-id=depthId type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=depth }}   
        </div>
    </div>
</div>