<div class="row">
    <div class="col-sm-12 block"> 
        <div class="btn-group">
			<div class="whitefont">Lid (not implemented)</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Dryness(not implemented)</div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block"> 
        <div class="btn-group">
			<div class="whitefont">Bottom Material (not implemented)</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block"> 
        <div class="btn-group">
			<div class="whitefont">Shape</div>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                {{shapeName}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li id="shapeCylinder" class="btn">Cylinder</li>
				<li id="shapeCube" class="btn">Cube</li>
				<li id="shapeHexagon" class="btn">Hexagon</li>
            </ul>
        </div>
    </div>
</div>