<div class="row">
    <div class="col-sm-12 block"> 
        <div class="btn-group">
			<div class="whitefont">Gender (not implemented)</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Age (not implemented)</div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Stage Of Life Cycle (not implemented)</div>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Time Off Food (not implemented)</div> 
        </div>
    </div>
</div>