<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Distance From Plate Centre X</div>
            {{input id="wormDistanceXSlider" class="simpleSlider" data-slider-id='wormDistanceXSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Distance From Plate Centre Y</div>
            {{input id="wormDistanceYSlider" class="simpleSlider" data-slider-id='wormDistanceYSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Angle with respect to X axis</div>
            {{input id="wormAngleSlider" class="simpleSlider" data-slider-id='wormAngleSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}   
        </div>
    </div>
</div>
{{render "wormDatum" wormData}}