<div class="row">
    <div class="col-sm-12">
        <div class=" title">Concentration</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <input id="quad1ConcentrationSlider" class='simpleSlider' data-slider-id='quad1ConcentrationSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class=" title">Chemical</div>
			<div class="col-sm-12">
				<div class="col-sm-12">
					<div class="col-sm-12">
					<div class="col-sm-12">
						{{render "chemical" quadrantChemical}}
					</div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
