<div class="row">
    <div class="col-sm-12">
        <div class=" title">Quadrant 1</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Concentration</div>
            <input id="quad2ConcentrationSlider1" class='simpleSlider' data-slider-id='quad2ConcentrationSlider1' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Chemical</div>
            {{render "chemical" quadrant_1_Chemical}}  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class=" title">Quadrant 2</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Concentration</div>
            <input id="quad2ConcentrationSlider2" class='simpleSlider' data-slider-id='quad2ConcentrationSlider2' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Chemical</div>
            {{render "chemical" quadrant_2_Chemical}}  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class=" title">Barrier</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Concentration</div>
            <input id="quad2BarrierConcentrationSlider" class='simpleSlider' data-slider-id='quad2BarrierConcentrationSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Chemical</div>
            {{render "chemical" quadrantBarrierChemical}}  
        </div>
    </div>
</div>