<div class="row">
	<div class="btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			{{typeName}}<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li id="chemicalNone" class="btn chemicalNone">None</li>
			<li id="chemicalBiotin" class="btn chemicalBiotin">Biotin</li>
			<li id="chemicalNaCl" class="btn chemicalNaCl">NaCl</li>
			<li id="chemicalEthanol" class="btn chemicalEthanol">Ethanol</li>
			<li id="chemicalButanone" class="btn chemicalButanone">Butanone</li>
			<li id="chemicalBenzaldehyde" class="btn chemicalBenzaldehyde">Benzaldehyde</li>
			<li id="chemicalCuSO4" class="btn chemicalCuSO4">CuSO4</li>
			<li id="chemicalDiacetyl" class="btn chemicalDiacetyl">Diacetyl</li>
			<li id="chemicalDodecyl" class="btn chemicalDodecyl">Sodium dodecyl sulfate</li>
			<li id="chemicalQuinine" class="btn chemicalQuinine">Quinine</li>
			<li id="chemicalNaN3" class="btn chemicalNaN3">NaN3</li>
		</ul>
	</div>
</div>
