<div class="row">
	<div class="col-sm-12">
		<div class=" title">Shock Duration</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="shockDurationSlider" class="simpleSlider" data-slider-id='shockDurationSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class=" title">Shock Frequency</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="shockFrequencySlider" class="simpleSlider" data-slider-id='shockFrequencySlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class=" title">Amplitude</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="shockAmplitudeSlider" class="simpleSlider" data-slider-id='shockAmplitudeSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>