<div class="row">
	<div class="col-sm-12">
		<div class=" title">Temperature in Left Edge</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="gradientLeftSlider" class="simpleSlider" data-slider-id='gradientLeftSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class=" title">Temperature in Right Edge</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="gradientRightSlider" class="simpleSlider" data-slider-id='gradientRightSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>