<div class="row">
    <div class="col-sm-12">
        <div class=" title">Ring</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Internal Radius</div>
            <input id="osmoticInternalSlider" class='simpleSlider' data-slider-id='osmoticInternalSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">External Radius</div>
            <input id="osmoticExternalSlider" class='simpleSlider' data-slider-id='osmoticExternalSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class=" title">Chemical</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Concentration</div>
            <input id="osmoticConcentrationSlider" class='simpleSlider' data-slider-id='osmoticConcentrationSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Chemical</div>
            {{render "chemical" ringChemical}}  
        </div>
    </div>
</div>