<div class="row">
    <div class="col-sm-12">
        <div class=" title">Force</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <input id="plateForceSlider" class='simpleSlider' data-slider-id='plateForceSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>