<div class="row">
	<div class="col-sm-12">
		<div class=" title">Wavelength</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="pointLightWavelengthSlider" class="simpleSlider" data-slider-id='pointLightWavelengthSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class=" title">Intensity</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="pointLightIntensitySlider" class="simpleSlider" data-slider-id='pointLightIntensitySlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class=" title">Lighting</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Lighting Distance</div>
            {{input id="pointLightLightingDistanceSlider" class="simpleSlider" data-slider-id='pointLightLightingDistanceSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}   
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
            <div class="whitefont">Light Beam Radius</div>
            {{input id="pointLightBeamSlider" class="simpleSlider" data-slider-id='pointLightBeamSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}     
        </div>
    </div>
</div>