<div class="row">
	<div class="col-sm-12">
		<div class=" title">Point Temperature</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="avoidanceTemperatureSlider" class="simpleSlider" data-slider-id='avoidanceTemperatureSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class=" title">Point Distance</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="avoidanceDistanceSlider" class="simpleSlider" data-slider-id='avoidanceDistanceSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>