<div class="row">
    <div class="col-sm-12">
        <div class=" title">Drop Location</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Position in X axis</div>
            <input id="spsXaxisSlider" class='simpleSlider' data-slider-id='spsXaxisSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Position in Y axis</div>
            <input id="spsYaxisSlider" class='simpleSlider' data-slider-id='spsYaxisSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>  
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class=" title">Chemical</div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Drop Quantity</div>
            <input id="spsDropSlider" class='simpleSlider' data-slider-id='spsDropSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Concentration</div>
            <input id="spsConcentrationSlider" class='simpleSlider' data-slider-id='spsConcentrationSlider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="0.1" data-slider-value="14"/>     
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 block">
        <div>
			<div class="whitefont">Chemical</div>
            {{render "chemical" chemical}}  
        </div>
    </div>
</div>