<div class="row">
	<div class="col-sm-12">
		<div class=" title">Initial Temperature</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="temperatureInitialSlider" class="simpleSlider" data-slider-id='temperatureInitialSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class=" title">Final Temperature</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 block">
		<div>
			{{input id="temperatureFinalSlider" class="simpleSlider" data-slider-id='temperatureFinalSlider' type="text" data-slider-min="0" data-slider-step="0.1" data-slider-value=eventTime }}
		</div>
	</div>
</div>