{% extends 'base-with-login.html' %}
{% block content %}
<link href="http://fmorgan.starlightlabs.com/vicilab/vicilabApp/video/viciLabVHDLToProtoGUI/viciLabVHDLToProtoGUI_embed.css" rel="stylesheet" type="text/css">

<div class="row feature bottom-space-40">
	<div class="col-md-12 centered">
		<h2 class="text-center">Online Neural Network Environment</h2>
	</div>
	<div class="col-md-12 centered">
		<p class="text-center"><a href="http://www.si-elegans.eu">Find out more about the <i>Si elegans</i> project</a></p>
	</div>
</div>

<div class="row feature bottom-space-40" style="background-color:#e8e8e8">
	<div class="col-md-2"></div>
	<div class="col-md-4">
		<h3>Create LEMS Models</h3>
	</div>

	<div class="col-md-4">
<iframe style="width:500px;height:300px;overflow:hidden;margin-left:0" class="tscplayer_inline" name="tsc_player" src="http://140.203.205.11/static/sielegans/IAF_example/IAF_example_player.html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>

<div class="row feature bottom-space-40" style="background-color:#e8e8e8">
	<div class="col-md-2"></div>
	<div class="col-md-4 spacer20">
		<h3>Si elegans Network Definition</h3> 
	</div>


	<div class="col-md-4 bottom-space-40">
		<iframe  style="width:500px;height:300px;overflow:hidden;margin-left:0" class="tscplayer_inline embeddedObject" name="tsc_player" src="http://140.203.205.11/static/sielegans/cenet/cenet_player.html" type="text/html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>

<div class="row feature bottom-space-40">
	<div class="col-md-2"></div>
	<div class="col-md-4 spacer20">
		<h3>New Component Definition</h3> 
	</div>


	<div class="col-md-4 bottom-space-40">
		<iframe  style="width:500px;height:300px;overflow:hidden;margin-left:0" class="tscplayer_inline embeddedObject" name="tsc_player" src="/static/tempDepIaf/tempDepIaf_player.html" type="text/html" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>
{% endblock content %}
