{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "ico/favicon.ico" %}">

    <title>Si elegans Emulation Platform</title>
    <script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    <script src="{% static "js/jquery.cookie.js" %}"></script>
    <script src="{% static "js/SiElegans.js" %}"></script>
   <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/siElegans.css" %}" rel="stylesheet">
      
      
    <!-- Custom styles stiky footer -->
    <link href="{% static "css/sticky-footer.css" %}" rel="stylesheet">
      
      <!-- Custom styles image resize -->
    <link href="{% static "css/image-resize.css" %}" rel="stylesheet">
    <link href="{% static "css/round-about.css" %}" rel="stylesheet">
      
     <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="{% static "js/ie8-responsive-file-warning.js" %}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript"
            src="{% static 'js/cookieconsent.min.js' %}">
    </script>


    <script type="text/javascript">

        window.cookieconsent_options = {
            "message": "This website uses cookies to ensure you get the best experience on our website",
            "dismiss": "Got it!",
            "learnMore": "More info",
            "link": "",
            "theme": "dark-bottom"
        };
    </script>
    <!-- End Cookie Consent plugin -->


  </head>

  <body>
  
{% include 'fbjavascriptsdk.html' %}
{% include 'navbar-homepage.html' %}
{% if messages %}
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3'>
    {% for message in messages %}
    <p{% if message.tags == "error" %} class="alert alert-danger"{% endif %}>{{message }}</p>
    {% endfor %}
  </div>  
</div>
{% endif %}
{%block main %}{% endblock %}

   
   
    {% include 'footer.html' %}
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "js/bootstrap.min.js"  %}"></script>
     <script><!-- http://stackoverflow.com/questions/11124777/twitter-bootstrap-navbar-fixed-top-overlapping-site-->
        $(window).resize(function () { 
          $('body').css('padding-top', parseInt($('#main-navbar').css("height"))+10);
        });
        $(window).load(function () { 
          $('body').css('padding-top', parseInt($('#main-navbar').css("height"))+10);         
        }); 
    </script>
  </body>
</html>
