<footer class="footer" style ="height:60px">
    <div class="container-fluid">

        <div class="row" style="border-top:none;padding-bottom: 0px;">
            
            <div class="col-md-12">
                <div style="margin:auto">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                    <script type="IN/FollowCompany" data-id="126888" data-counter="none"></script>
                    <div class="fb-like" data-href="https://www.si-elegans.eu" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
                    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

        </div>

       <div class="row" style="padding-top: 0px; border-top: none; border-bottom: none; height:30px">
            <p>Copyright &copy; 2016 Si elegans consortium.
            <a href="http://www.si-elegans.eu">Si elegans project website</a>
            </p>
        </div>

    </div>
</footer>